@font-face
{
    font-family: "Ubuntu";
    src: url("Ubuntu-R.ttf") format("truetype");
}

html, body
{
	width: 1000px;
	margin: auto;
	
	background-color: #e8e8e8;
	font-family: "Ubuntu";
	
	height: 100%;
}

input
{
    font-family: "Ubuntu";
}

select, option
{
    font-family: "Ubuntu";
}

header table
{
	border-spacing: 0px;
	border-collapse: collapse;
}

footer
{
	background-color: #a5a5a5;
	border-top: 1px solid black;
	background-image: url("images/footer.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	
	position: absolute;
	bottom: 0px;
	height: 200px;
	width: 1000px;
	
	text-align: center;
}

#global
{
	position : relative;
	min-height: 100%;
	
	background-color: #818181;
	
	box-shadow: 4px 4px 8px #888;
}

#banner
{
	width: 700px;
	height: 130px;
	
	background-image: url("images/banner.png");
	background-repeat: no-repeat;
	border: none;
}

/* --- login --- */

#login
{
	width: 301px;
	height: 130px;
	
	background-image: url("images/login.png");
	background-repeat: no-repeat;
	border: none;
}

#login strong
{
	font-size: 1.6em;
}

/* --- menu --- */

#menu
{
	width: 100%;
	height: 54px;
	
	background-image: url("images/menubar.png");
	background-repeat: no-repeat;
	
	padding: 0px;
	padding-left: 20px;
}

#menu .selected
{
	background-image: url("images/button.png");
	background-repeat: no-repeat;
}

#menu a
{
	display: inline-block;
	width: 125px;
	height: 54px;
	line-height: 54px;
	
	text-decoration: none;
	color: black;
	
	text-align: center;
}

#menu .selected:hover
{
	background-image: url("images/button.png");
	background-repeat: no-repeat;
	color: white;
}

#menu a:hover
{
	background-image: url("images/button_hover.png");
	background-repeat: no-repeat;
	color: white;
}

/* --- content --- */

#content
{
	background-color: #818181;
	border: 1px solid black;
	border-bottom: none;
	
	position: relative;
	min-height: 100%;
	margin: 0 auto;
	padding-bottom: 200px;
	width: 998px;
}

#content table
{
	width: 100%;
	
	padding: 0px;
	margin: 0px;
	
	border-spacing: 0px;
	border-collapse: collapse;
}

#news
{
	padding: 0px;
	margin: 0px;
}

#searchbar
{
	width: 699px;
	height: 69px;
	
	background-image: url("images/searchbar.png");
	background-repeat: no-repeat;
	border: none;
}

#searchbar_text
{
	font-size: 1.5em;
	display: inline-block;
	
	width: 400px;
	
	margin-left: 20px;
}

#searchbar_button
{
	font-size: 1.5em;
}

/* --- catalog --- */

#catalog
{
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

#catalog table
{
	border-collapse: separate;
	border-spacing: 0px 10px;
}

#catalog a
{
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#catalog img
{
	width: 75px;
}

#catalog .remove
{
    width: auto;
}

#catalog .qty
{
	width: 50px;
}

#catalog .image
{
	text-align: center;
}

#catalog .image img
{
	width: auto;
}

#catalog .product
{
	width: 280px;
}

#catalog .product td
{
	background-color: #bf000a;
	border-top: 1px solid #ff2c37;
	border-bottom: 1px solid #810007;
	
	color: white;
	text-shadow: 0px -1px 1px #810007;
	
	height: 50px;
	
	padding-left: 10px;
}

#catalog .product_header td
{
	background-color: #a5a5a5;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #8d8d8d;
	
	color: black;
	text-shadow: 0px -1px 1px #8d8d8d;
	
	height: 50px;
	
	padding-left: 10px;
}

/* --- basket --- */

#basket
{
	vertical-align: top;

	border-left: 1px solid black;
	min-width: 299px;
	width: 299px;
	max-width: 299px;
	
	/* background-image: url("images/basket.png"); */
	/* background-repeat: no-repeat; */
	
	padding: 0px;
	margin: 0px;
}

#basket table
{
	border-collapse: separate;
	border-spacing: 0px 10px;
}

#basket a
{
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#basket .qty
{
	text-align: right;
	font-weight: bold;
	
	padding-right: 10px;
}

#basket .image
{
	text-align: center;
}

#basket .product
{
	width: 280px;
}

#basket .product td
{
	background-color: #bf000a;
	border-top: 1px solid #ff2c37;
	border-bottom: 1px solid #810007;
	
	color: white;
	text-shadow: 0px -1px 1px #810007;
	
	height: 50px;
	
	padding-left: 10px;
}

#basket .validate
{
	text-align: center;
}

#basket .erase
{
	text-align: right;
}

/* --- basket like catalog --- */
#basket_like_catalog
{
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

#basket_like_catalog table
{
	border-collapse: separate;
	border-spacing: 0px 10px;
}

#basket_like_catalog a
{
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#basket_like_catalog .img
{
	width: 75px;
}

#basket_like_catalog .qty
{
	width: 50px;
}

#basket_like_catalog .product
{
	width: 280px;
}

#basket_like_catalog .product td
{
	background-color: #bf000a;
	border-top: 1px solid #ff2c37;
	border-bottom: 1px solid #810007;
	
	color: white;
	text-shadow: 0px -1px 1px #810007;
	
	height: 50px;
	
	padding-left: 10px;
}

#basket_like_catalog .product_header td
{
	background-color: #a5a5a5;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #8d8d8d;
	
	color: black;
	text-shadow: 0px -1px 1px #8d8d8d;
	
	height: 50px;
	
	padding-left: 10px;
}

#basket_like_catalog .validate
{
	text-align: center;
}

#basket_like_catalog .validate input,select
{
	font-size: 1.5em;
}

#basket_like_catalog .image
{
	text-align: center;
}

#basket_like_catalog .erase
{
	text-align: right;
}

/* --- register table --- */

#register
{
	width: auto;
}

/* --- other stuff --- */

#login_form input
{
	width: 90%;
}

.login_button
{
	font-size: 1.5em;
	width: 90%;
}

.centertable
{
	width: 100%;
	text-align: center;
}

.hidden
{
	display: none;
}

.help
{
    background-color: #FFFF73;
    border-radius: 10px;
    display: none;
    opacity: 0.9;
    padding: 10px;
    z-index: 100;
    position: absolute;
    width: 200px;
}

.help_link:hover + span
{
    display: inline;
}

.error
{
    color: #da001a;
}

.error:before
{
    content: url("images/error.png");
}

.tiny
{
    font-size: 0.6em;
}

.tiny input
{
    font-size: 1em;
}

.tiny_input
{
    width: 40px;
}

.no_tiny
{
    font-size: 1.4em;
}


