html, body
{
	width: 1000px;
	margin: auto;
	
	background-color: #e8e8e8;
	
	height: 100%;
}

header table
{
	border-spacing: 0px;
	border-collapse: collapse;
}

footer
{
	background-color: #a5a5a5;
	border-top: 1px solid black;
	background-image: url("images/footer.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	
	position: absolute;
	bottom: 0px;
	height: 200px;
	width: 1000px;
}

#global
{
	position : relative;
	min-height: 100%;
	
	box-shadow: 4px 4px 8px #888;
}

#banner
{
	width: 700px;
	height: 130px;
	
	background-image: url("images/banner.png");
	background-repeat: no-repeat;
	border: none;
}

#login
{
	width: 301px;
	height: 130px;
	
	background-image: url("images/login.png");
	background-repeat: no-repeat;
	border: none;
}

#menu
{
	width: 100%;
	height: 54px;
	
	background-image: url("images/menubar.png");
	background-repeat: no-repeat;
	
	padding: 0px;
	padding-left: 20px;
}

#menu .selected
{
	background-image: url("images/button.png");
	background-repeat: no-repeat;
}

#menu a
{
	display: inline-block;
	width: 125px;
	height: 54px;
	line-height: 54px;
	
	text-decoration: none;
	color: black;
	
	text-align: center;
}

#menu a:hover
{
	background-image: url("images/button_hover.png");
	background-repeat: no-repeat;
	color: white;
}

#content
{
	background-color: #818181;
	border: 1px solid black;
	
	position: relative;
	min-height: 100%;
	margin: 0 auto;
	padding-bottom: 200px;
	width: 998px;
}

#content table
{
	width: 100%;
	
	padding: 0px;
	margin: 0px;
	
	border-spacing: 0px;
	border-collapse: collapse;
}

#news
{
	padding: 0px;
	margin: 0px;
}

#searchbar
{
	width: 699px;
	height: 69px;
	
	background-image: url("images/searchbar.png");
	background-repeat: no-repeat;
	border: none;
}

#searchbar_text
{
	font-size: 1.5em;
	display: inline-block;
	
	width: 570px;
	
	margin-left: 20px;
}

#searchbar_button
{
	font-size: 1.5em;
}

#catalog
{
	
}

#basket
{
	border-left: 1px solid black;
	min-width: 299px;
}

#login_form input
{
	width: 90%;
}

.login_button
{
	font-size: 1.5em;
	width: 90%;
}

.centertable
{
	width: 100%;
	text-align: center;
}

.hidden
{
	display: none;
}


